<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Recall"
        tools:targetApi="31">
        <activity
            android:name=".st.ST"
            android:exported="false" />
        <activity
            android:name=".bnt.ScoreBNT"
            android:exported="false" />
        <activity
            android:name=".sst.ScoreSST"
            android:exported="false" />
        <activity
            android:name=".dst.ScoreDST"
            android:exported="false" />
        <activity
            android:name=".st.ScoreST"
            android:exported="false" />
        <activity
            android:name=".sst.SST"
            android:exported="false" />
        <activity
            android:name=".bnt.BNT"
            android:exported="false" />
        <activity
            android:name=".dst.DST"
            android:exported="false" />
        <activity
            android:name=".access.Questionnaire"
            android:exported="false" />
        <activity
            android:name=".main.Home"
            android:exported="false" />
        <activity
            android:name=".access.SignUp"
            android:exported="false" />
        <activity
            android:name=".access.LogIn"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>